.strategy-content {
    h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.2px;
        color: #fff;
        margin-bottom: 10px;
    }

    p {
        max-width: 470px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.2px;
        color: #fff;
        margin-bottom: 45px;
    }
}

.strategy-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;

    .card {
        padding: 20px;
        background-color: #fff;
        border-radius: 3px;

        .card-desc {
            @include display-align;
            gap: 15px;

            .card-icon {
                background-color: #23A6F0;
                padding: 24px;
                border-radius: 200px;
            }

            h6 {
                max-width: 155px;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.7;
                letter-spacing: 0.2px;
                color: #737373;
            }
        }
    }

}
.strategy-button{
        @include display-align;
        gap: 10px;
        margin-top: 50px;

        .strategy-btn1 button {
            height: 50px;
            font-size: 14px;
            font-weight: 700;
            line-height: 0.6;
            letter-spacing: 0.2px;
            background-color: #23A6F0;
            color: #fff;
            padding: 15px 36px;
            border-radius: 37px;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .strategy-btn2 button {
            height: 50px;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            line-height: 0.6;
            letter-spacing: 0.2px;
            background: transparent;
            padding: 15px 36px;
            border-radius: 37px;
            color: #fff;
            border: 1px solid #fff;
            cursor: pointer;
        }
}